/* Primary Elements */

@media only screen and (max-width: 980px) {
    /* Nav Styles */
    .nav {
        display: none;
    }

    .nav--button__burguer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--p-g);
        border-bottom: 1px solid var(--blue-l2);
    }
    
    .nav--button__burguer p {
        font-size: var(--h3);
    }

    .nav--list {
        display: flex;
        flex-direction: column;
        padding: 0;
        background-color: var(--blue-l2);
    }

    .nav--item {
        list-style: none;
        padding: 1.2rem 0rem 0rem 1.2rem;
        
    }

    .nav--item a {
        list-style: none;
        padding: 1.2rem 1.2rem;
    }

    .show {
        display: block;
    }

    .noshow {
        display: none;
    }

    .nav--item:hover .nav--dropdown {
        display: block;
    }

    .nav--item:focus-within .nav--dropdown{
        display: block;
    }

    .nav--dropdown {
        padding: 0;
        position: absolute;
        margin-left: -20px;
        margin-top: 16px;
        display: none;
        -webkit-box-shadow:none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    
    .dropdown--item {
        padding: 1rem 3.6rem;
        list-style: none;
        margin: 0;
        background-color:var(--blue-l1);
    }

    .nav--dropdown {
        padding: 0;
        position: relative;
        margin-left: -65px;
        margin-top: 15px;
        display: block;
    }

    .dropdown--item {
        padding: 1rem 3.6rem;
        list-style: none;
        margin: 0;
    }
    /* Nav Styles */

    /* Breadcrumb */
    .breadcrumb {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    /* Breadcrumb */

    .buttonsNav--content {
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem
    }

    .library--view {
        display: flex;
        flex-wrap: wrap;
    }

    .library--content {
        margin-right: 0rem;
        order: 2;
        
    }

    .library--filter {
        order: 1;
        width: 100%;
        margin-bottom: 2rem;
    }

    .item--book {
        display: flex;
        flex-direction: column;
        align-items: center;    
    }
    
    .item--data--buttons {
        padding: 2rem 0rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .paginator--library {
        justify-content: center;
    }

    .subdireccion--header {
        display: flex;
        flex-direction: column;
    }

    .content--7030 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content--3070 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }    
    
    .content--table {
        overflow: scroll;
        box-sizing: border-box;
        width: 100%;
        overflow: scroll;
        overflow-y: hidden;
    }

    .content--table table {
        min-width: 800px;
    }

    .jumbobox .info--image {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--blue-l2);
        border-radius: 1rem 1rem 0rem 0rem;
        width: 100%;
    }

    .info--directorio {
        flex-direction: column;
    }

    .info--cards {
        justify-content: center;
    }

    .sticky-content {
        position: fixed;
        top: 4rem;
        right: 0%;
    }

}

@media only screen and (min-width: 980px) {
    .nav {
        display: block;
    }
}