.library--view {
    display: grid;
    grid-template-columns: 70% 30%;
}

.library {
    padding-right: 3rem;
}

.library--filter {
    padding: 1.5rem;
    background-color: var(--color-8);
    border-top: 3px solid var(--color-b);
}

.library--filter h3 {
    font-family: var(--Work-Sans);
    font-size: var(--h2);
    font-weight: var(--fw-Bold);
}

.filters {
    margin-top: 1.5rem;
}

.filter--group {
    margin-bottom: 1rem;
}

.filter--group input, select {
    margin-top: 10px;
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.05rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.item--book {
    display: flex;
    border-top: var(--border-g);
    border-bottom: var(--border-g);
    padding: 3rem 0rem;
}

.book--image {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 2rem;
}

.book--image img {
    margin-bottom: 2rem;
}

.item--data {
    line-height: 1.6;
}

.item--data a {
    margin-right: 1rem;
    border: 2px solid var(--color-1);
    font-family: var(--Work-Sans);
    font-weight: var(--fw-Bold);
    text-decoration: none;
    color: var(--color-1);
    border-radius: 6px;
    padding: .5rem 1.5rem;
}

.item--data a:hover {
    color: var(--color-w);
    background-color: var(--color-1);
}


.item--data h2 {
    font-size: var(--h2);
    font-family: var(--Work-Sans);
    font-weight: var(--fw-Medium);
    line-height: 1.35;
    margin-bottom: 1.2rem;
}

.data--list {
    font-family: var(--Work-Sans);
    font-size: var(--text);
    margin-bottom: 2rem;
}

.data--list--item h3 strong {
    font-weight: var(--fw-Bold);
}

.data--list--item>h3>strong {
    font-weight: var(--fw-Bold);
}

.paginator--library {
    padding: 2rem 0rem;
    display: flex;
    justify-content: center;
}

.pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
    text-decoration: none;
}

.page-link:hover {
    z-index: 2;
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.page-link:focus {
    z-index: 3;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}